<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/stylesheets/userstyle.css" />
    <!-- <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" /> -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <link rel="stylesheet" href="/public/stylesheets/landingPage.css" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="/public/image/Sole .png"
    />
    <title>Shoe Zone eCommerce</title>
  </head>
  <body>
    <header>
      <div class="container-fluid header-top">
        <div class="container d-flex header-top-links justify-content-end">
          <a class="px-2 d-none d-lg-block" href="">Contact Us</a>
          <a class="px-2 d-none d-lg-block" href="">About Us</a>
        </div>
      </div>
      <nav
        class="container navbar navbar-expand-lg bg-transparent py-3 px-2"
      >
        <div class="container-fluid justify-content-around">
          <a class="navbar-brand d-flex align-items-center" href="/">
            <img
              src="/public/image/Sole .png"
              alt="Logo"
              width="40"
              height="40"
              class="d-inline-block align-text-top"
            />
            <div class="brand-name ms-3">
              <span>SHOE ZONE</span>
            </div>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
              <li class="nav-item mx-2  ms-lg-3">
                <a class="nav-link" href="/categories?category=men"
                  >Men</a
                >
              </li>
              <li class="nav-item mx-2 ">
                <a class="nav-link" href="/categories?category=women"
                  >Women</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/categories?category=kids"
                  >Kids</a
                >
              </li>
            </ul>
            <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-3">
              <a class="nav-link" href="/products?category=collection" >Our Collection</a>
            </span>
            <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-3">
              <a class="nav-link" href="/users/wishlist">Wishlist</a>
            </span>
            <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-3">
              <a class="nav-link" href="/users/cart" style="position: relative;">Cart
                <% if(session){%> <span id="itemCount"><%=locals.userCart.totalQuantity%></span> <%}%>
              </a>
            </span>
            <span class="nav-item nav-link text-center mb-2 mb-lg-0 ms-lg-3">
              <% if(locals.session){%>
              <div class="d-block d-lg-none">
                <hr />
                <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-3">
                  <a class="nav-link fw-bold" href="/users/profile"
                    ><img
                      src="/Public/image/users/<%=locals.currentUser.photo%>"
                      height="25px"
                      alt=""
                      class="mx-2"
                    /><%=locals.currentUser.name%></a
                  >
                </span>
                <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-3">
                  <a
                    class="nav-link"
                    style="font-size: 0.85rem"
                    href="/users/signOut"
                    >Sign out</a
                  >
                </span>
              </div>
              <div class="btn-group dropstart d-none d-lg-block">
                <button
                  type="button"
                  class="btn dropdown-toggle button-div"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: grey;
                    font-weight: 600;
                  "
                >
                  <img
                    src="/Public/image/users/<%=locals.currentUser.photo%>"
                    height="25px"
                    alt=""
                  />
                </button>
                <ul class="dropdown-menu" style="font-size: 0.75rem;background-color: #000000;">
                  <li
                    class="dropdown-item border-bottom"
                    style="pointer-events: none;color: aliceblue;"
                  >
                    <%=locals.currentUser.name%>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/users/profile">Profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/users/orders">Orders</a>
                  </li>
                  <li class="border-bottom">
                    <a class="dropdown-item" href="/users/addresses">Address</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/users/signOut">Sign Out</a>
                  </li>
                </ul>
              </div>
              <% }else{%>
              <a class="nav-link" href="/users/signIn">Sign In</a>
              <%}%>
            </span>
          </div>
        </div>
      </nav>
    </header>
    <section class="container mx-auto" id="listingpage">
      <% if(listingName != null){%>
      <div class="pb-2 d-lg-none  text-center my-3">
        <span class="shadow-heading" style="font-size: 1.25rem" id="listingname"
          ><%=listingName%></span
        >
      </div>
      <%}%>
      <div
        class="text-center py-4 d-flex justify-content-between px-4"
      >
        <div class="dropdown">
          <a
            class="btn btn-dark btn-sm dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Filter
          </a>
          <ul class="dropdown-menu">
            <li>
              <span class="dropdown-item" onclick="filter('Sports')">Sports</span>
            </li>
            <li>
              <span class="dropdown-item" onclick="filter('Casual')">Casual</span>
            </li>
            <li>
              <span class="dropdown-item" onclick="filter('Formal')">Formal</span>
            </li>

          </ul>
        </div>

        <span
          class="shadow-heading d-none d-lg-block"
          style="font-size: 1.25rem"
          id="listingname"
          ><%=listingName%></span
        >

        <div class="dropdown">
          <a
            class="btn btn-dark btn-sm dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sort
          </a>
          <ul class="dropdown-menu">
            <li>
              <span class="dropdown-item" onclick="sortBy('newReleases')"
                >New releases</span
              >
            </li>
            <li>
              <span class="dropdown-item" onclick="sortBy('ascending')"
                >Price: Low to High</span
              >
            </li>
            <li>
              <span class="dropdown-item" onclick="sortBy('descending')"
                >Price: High to low</span
              >
            </li>
            <!-- <li><a class="dropdown-item" href="#"></a></li> -->
          </ul>
        </div>
      </div>

      <div class="container text-center">
        <div class="input-group flex-nowrap my-2 mx-auto" style="width: 250px">
          <input
            type="text"
            id="searchInput"
            onkeyup="search()"
            class="form-control"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="addon-wrapping"
            style="background-color: #afa8a8;"
          />
          <span class="input-group-text" id="searchButton" style="background-color: #4c5353;"
            ><button
              class="btn  btn-sm"
              style="font-size: 0.75rem"
              onclick="filter('none')"
            >
              All Products<br /></button
          ></span>
        </div>
      </div>

      <div class="text-center p-o my-4">
        <span style="font-size: 0.5rem;color: rgb(142, 145, 148);"
          >Search by name.<br /><b>Mix and match</b> search, sort and
          filter.</span >
      </div>

      <div
        class="text-center d-flex justify-content-center flex-column my-3"
        id="productContainer"
      >
        <%if(listing!=null){%>
        <div class="row row-cols-2 row-cols-md-4 g-4 justify-content-center">
          <%listing.forEach(product => {%>
          <div class="col-lg-3 m-2">
            <div class="card h-100 border-0">
              <a href="/products/<%=product._id%>"
                ><img
                  src="/public/image/products/<%=product.thumbnail%>"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h6 class="card-title text-dark"><%=product.name%></h6>
                  <span
                    style="
                      font-weight: bold;
                      color: #777474;
                      font-size: 0.75rem;
                    "
                    ><%=product.brand.name%></span>
                    <h6 class="card-title my-2 fw-bold"  style="color: rgb(3, 3, 20);">&#x20b9; <%=product.price%></h6>
                </div>
                </a
              >
            </div>
          </div>
          <%})%>
        </div>
        
        <span
          >
          <% if(listingName == "Our Collection"){%><a
          href="/products?category=collection"
            class="btn btn-outline-dark py-2 px-3 mt-5"
            style="font-size: 0.75rem;background-color: #310e68;
            background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);"
            >VIEW MORE</a
          >
          <%}%></span
        >
        <%}%>
      </div>
    </section>
    <div class="conatiner-fluid backgroundImg-row backgroundImg">
      <div class="row d-flex w-100 py-5 justify-content-center">
        <div class="col-md-6"></div>
        <div class="col-12 col-md-6" style="padding-left: 31px;">
          <div><p class="writings" style="color: #000000;font-weight: bolder;">We care about every step you take,<br>
            &amp; We will continue to present untill the finish line</p></div>
            <div class="d-flex ">
              <div><a href="products?category=collection"><button class="btn shopNow">SHOP NOW</button></a></div>
              <div class="mx-4"><a href="/users/signup"><button class="btn shopNow">SIGN UP</button></a></div>
            </div> 
        </div>
        
      </div>
    </div>  

    <footer class="bg-theme">
      <div
        class="container links pt-4 pb-2 row mx-auto  d-flex justify-content-around"
      >
     
        <a class="col-lg-2 pb-2 text-center" href="#">Contact Us</a>
        <a class="col-lg-2 pb-2 text-center" href="#">Customer Care</a>
        <a class="col-lg-2 pb-2 text-center" href="#">About us</a>
        <span class="col-lg-2 justify-content-center d-flex align-items-center">
          <i class="fab fa-instagram"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-whatsapp"></i>
        </span>
      </div>
      <div class="copyright bg-theme py-2 text-center">
        <span
          >Copyright © 2023 | Shoe Zone| Made by
          <a href="https://rahulraveendrannp.github.io/Portfolio/"
            >RAHUL N P </a
          ></span
        >
      </div>
    </footer>
    <script src="/public/js/productListing.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
