<%- include('../layouts/header') %> <%- include('../layouts/user-links') %>

<div class="container mx-auto">
  <div class=" text-center py-4">
    <span class="shadow-heading">Your Cart</span>
  </div>
  <div class="row justify-content-center m-3" id="cart">
    <div class="col-lg-6">
      <% if(userCart!= null && userCart.products.length!= 0){%> <%
      userCart.products.forEach((product,i) => {%>
      <div
        class="row d-flex rounded my-2 p-3"
        style="border: 1px solid #2b152e;background: linear-gradient(316deg, #20041a 0%, #010f13 74%) !important;"
      >
        <div class="col-lg-4 prod-img text-center">
          <img
            src="/public/image/products/<%=product.name.thumbnail%>" #20041a
            alt=""
            height="150px"
          />
        </div>
        <div
          class="col-lg-8 prod-details d-flex flex-grow-1 flex-column justify-content-between"
        >
          <h5><a href="/products/<%=product.name._id%>" style="color: rgb(255, 255, 255) !important;"><%=product.name.name%></a></h5>
          <h6 class="text-white"><%=product.name.brand.name%></h6>
          <span
            style="text-transform: none; font-size: 0.85rem; font-weight: 700"
          >
            Price: <%=product.name.price%></span
          >
          <% if(product.name.stock == '0'){%> <p class="text-danger" style="font-weight: bold;margin-top: 10px;">OUT OF STOCK</p>
          <p id="stockCheck" hidden><%=product.name.stock%></p>
            </p><%}%>
          <div class="d-flex justify-content-end mt-2">
            <div class="counter d-flex p-1 align-items-center rounded mx-4">
              <button
                class="btn btn-sm btn-light button-div"
                id="minusBtn<%=i%>"
                style="background-color: transparent"
                onclick='changeCount("<%=product.name._id%>","<%=i%>",-1)'
              >
                <i class="fa fa-minus" ></i>
              </button>
              <span id="cartCount<%=i%>" class="fw-bold px-2"
                ><%=product.quantity%></span
              >
              <button
                class="btn btn-sm btn-light button-div"
                style="background-color: transparent"
                onclick='changeCount("<%=product.name._id%>","<%=i%>",1)'
              >
                <i class="fa fa-plus h-100"></i>
              </button>
            </div>
            <div class="d-flex align-items-center">
              <button class="btn button-div btn-sm text-white " style="background-color: rgb(88, 11, 11);">
                <span
                  style="font-size: 0.8rem; letter-spacing: 1px;"
                  onclick="removeFromCart('<%=product.name._id%>')"
                  >Remove</span
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      <%})%>
    </div>

    <div class="col-lg-4 my-3">
      <div
        class="order-summary rounded p-3 my-3 d-flex flex-column"
        style="border: 1px solid #2b152e; font-size: 0.9rem;background: linear-gradient(316deg, #20041a 0%, #010f13 74%)"
      >
        <div class="d-flex justify-content-between p-1">
          <span>Total items:</span>
          <span id="totalItems"><%=userCart.totalQuantity%></span>
        </div>
        <div class="d-flex justify-content-between p-1">
          <span>Products:</span>
          <span id="totalProducts"><%=userCart.products.length%></span>
        </div>
        <div class="d-flex justify-content-between p-1">
          <span>Price:</span>
          <span id="totalPrice">₹ <%=userCart.totalPrice%></span>
        </div>
      </div>
      <div
        class="order-summary rounded p-3 my-3 d-flex flex-column"
        style="border: 1px solid #2b152e; font-size: 0.9rem;background: linear-gradient(316deg, #20041a 0%, #010f13 74%)"
      >
        <a
          onclick="checkOut()"
          type="submit"
          class="text-white btn btn-sm button-div"
          style="background-color: rgb(18, 82, 9);"
          >Checkout</a
        >
      </div>
      <%}else{%>
      <h5 class="text-center my-4 fw-light">No products on your cart yet.</h5>
      <div class="text-center my-4 fw-bold">
        <a href="/" class=" fst-italic"
          >Continue shopping <i class="fa fa-arrow-right"></i
        ></a>
      </div>
      <%}%>
    </div>
  </div>
</div>
<script src="/public/js/user/cart.js"></script>
<%- include('../layouts/footer') %>
