<%- include('../layouts/header') %> <%- include('../layouts/head-links') %>
<div class="container">
  <div class="line-break text-center py-4">
    <span class="shadow-heading">Brands</span>
    <div style="float:right;background-color: rgb(28, 109, 41);border-radius: 25px; width: 130px;">
      <a href="/admin/categories" style="font-size: smaller;">Categories</a>
    </div>
    
  </div>
  <div class="d-flex flex-column justify-content-center mb-5 pt-4 w-75 mx-auto">
      <% if(details !=null) { %>
      <table
        id="dataTable"
        class="table table-hover cell-border fw-light nowrap"
      >
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <% details.forEach(function(item,i){ %>
       
          <tr>
            <td><%= i+1 %></td>
            <td><%= item.name %></td>
            <td class="text-center">
              <a
                href="/admin/brands/edit?id=<%= item._id%>"
                onclick="editConfirmation(event,'<%= item.name %>')"
                ><i
                class="py-1 fa fa-edit fa-lg text-info"
              ></i>
              </a>
              <a
                href="/admin/brands/delete_brand?id=<%= item._id%>"
                onclick="deleteConfirmation(event,'<%= item.name %>')"
                ><i
                  class="py-1 fa fa-trash fa-lg text-danger"
                  aria-hidden="true"
                ></i>
              </a>
            </td>
          </tr>
        
        <% }) %>
      </tbody> 
      </table>
      <% } %>
    <div class="w-25 mx-auto mt-4">
      <span
        class="text-center pb-3"
        style="font-size: 0.8rem; text-transform: none"
      >
        <p class="text-danger mt-0 fw-bold text-uppercase">
          <%= locals.errorMessage %>
        </p>
      </span>
      <form action="/admin/brands" method="post">
        <div class="mb-3">
          <input
            type="string"
            class="form-control"
            id="form-holder"
            placeholder="Enter Brand Name"
            name="brand"
            style="text-transform: none"
          />
        </div>
        <input type="submit" class="btn btn-primary w-100" value="Add Brand" />
      </form>
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>
